.smenu{
    display: none;
}

.mobilelist{
    display: flex;
}

.navLinks{
    text-decoration: aqua;
    color: gray;
    font-weight: bold;
    
}


@media (max-width: 900px){
    .smenu{
        display: block;
        padding-right: 20px;
    }

    .mobilelist{
        display: none !important;
   }


   
}

@media (min-width:  1000px){
    .smenu{
        display: none;
        padding-right: 20px;

    }

    .menu-btn{
        display: none;
    }
  
}