model-viewer {
    margin: 2.5rem;
    width: 100%;
    height: 350px;
    z-index: 0;
}

.expand-screen{
    width: 800px;
}

.close-btn{
    z-index: 1;
}

.footerbar{
    z-index: 1;
}

@media(max-width: 600px){
    model-viewer{
        height: 300px;
    }
}

